
body { 
    background-color: #d5e1ef;  
    min-height:100vh;
    /*removing my 8px margins for the body that the browser has imposed on me */ 
    margin:0;    
    display: flex; 
    justify-content: center; 
    align-items:center; 
    flex-direction:column; 
    font-family: Helvetica; 
    
}

.large-container {
    /*will it inherit flex-direction :column or do I have to put it into THIS parent container as well?*/ 
    height:70%; 
    width:20%; 
    background-color: white;
    text-align: center;
    border-radius: 7%;  
    display: flex; 
    flex-direction: column;
}

img { 
    object-position: top;
    object-fit: contain; 
    flex: 1; 
    margin: 1em; 
    justify-content: center;
    border-radius:7%;  
    height: 60%; 
}

.item { 
    margin:1em; 
    padding:0.5em; 
    flex: 1; 
    justify-content: center;
    font-size: 25px; 
    color: #00008B; 
}

.bodytext { 
    font-size: 20px; 
    color: gray; 
    margin-top: 0em;
}



