body{ 
    background-image: url(https://sm.ign.com/t/ign_za/video/d/disco-elys/disco-elysium-the-final-cut-review_2zpu.1280.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    background-size:cover; 
}